Repository vajafari/code-pipeline-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: TEMP:build, backend:build, backend:deploy, frontend:build, frontend:build:ts, frontend:test:jest, frontend:test:lint, frontend:deploy

TEMP:build:
  stage: backend:build
  image: node:14-alpine
  variables:
    LAMBDA: '*'
  script:
  - echo "You haven't changed anything in the `Packages` folder, so this is a temporary job to only let you merge your MR"

backend:build:
  stage: backend:build
  before_script:
  - cd serverless
  - npm ci
  script:
  - npm run build

backend:deploy:
  stage: backend:deploy
  image: bardianav/nodelts_serverless_awscli
  needs:
  - backend:build
  artifacts:
    untracked: false
    expire_in: 1 days
    paths:
    - serverless/aws-exports.ts
  before_script:
  - cd serverless
  - npm ci
  script:
  - serverless deploy --stage $ENVIRONMENT
  after_script:
  - cd scripts

frontend:build:
  stage: frontend:build
  needs:
  - job: backend:deploy
    optional: true
  artifacts:
    untracked: false
    expire_in: 1 days
    paths:
    - build/
  before_script:
  - yarn
  script:
  - cp serverless/aws-exports.ts src/aws-exports.ts
  - yarn build
  environment:
    name: $ENVIRONMENT
    action: prepare

frontend:build:ts:
  stage: frontend:build
  before_script:
  - yarn
  script:
  - yarn build:ts

frontend:test:jest:
  stage: frontend:test
  coverage: /Lines\s*:\s*(\d+.?\d*)%/
  needs:
  - job: frontend:build
    optional: true
  - job: frontend:build:ts
    optional: true
  artifacts:
    paths:
    - coverage
    when: always
    reports:
      junit:
      - junit.xml
  before_script:
  - yarn
  script:
  - yarn test:ci

frontend:test:lint:
  stage: frontend:test
  needs:
  - job: frontend:build
    optional: true
  - job: frontend:build:ts
    optional: true
  before_script:
  - yarn
  script:
  - yarn lint:ci

frontend:deploy:
  stage: frontend:deploy
  image: bardianav/nodelts_serverless_awscli
  needs:
  - frontend:build
  - frontend:test:jest
  - frontend:test:lint
  before_script:
  - yarn
  script:
  ...

ADDED: 123
  serverless/cloud-formtation.json
Due: backend:build, backend:deploy

ADDED: 123
  buildspec.yml
  cloud-formtation.json
Due: TEMP:build

ADDED: -123
  buildspec.yml
Due: TEMP:build

ADDED: -123
  package-lock.json
  package.json
Due: frontend:build, frontend:build:ts, frontend:test:jest, frontend:test:lint, frontend:deploy

ADDED: -123
  package.json
Due: frontend:build, frontend:build:ts, frontend:test:jest, frontend:test:lint, frontend:deploy

PUSH
  cloud-formations/DynamoDB-Tables.json
  cloud-formations/Lambda-Function.json
  cloud-formations/S3-Bucket.json
Due: TEMP:build

ADDED: -123
  .circleci/config.yml
Due: TEMP:build

123
  .circleci/config.yml
Due: TEMP:build

123
  src/lambda.ts
Due: frontend:build, frontend:build:ts, frontend:test:jest, frontend:test:lint, frontend:deploy

ADDED: -123
  .circleci/config.yml
  package.json
Due: frontend:build, frontend:build:ts, frontend:test:jest, frontend:test:lint, frontend:deploy

Path conditions:
  TEMP:build: (not (any of: src/*, src/**/*, src/**/**/*, package.json, tsconfig.json, tsconfig.paths.json, webpack.config.js, .gitlab-ci.yml)) and (not (any of: serverless/*, serverless/**/*, serverless/**/**/*, serverless/**/**/**/*, .gitlab-ci.yml))
  backend:build: any of: serverless/*, serverless/**/*, serverless/**/**/*, serverless/**/**/**/*, .gitlab-ci.yml
  backend:deploy: any of: serverless/*, serverless/**/*, serverless/**/**/*, serverless/**/**/**/*, .gitlab-ci.yml
  frontend:build: any of: src/*, src/**/*, src/**/**/*, package.json, tsconfig.json, tsconfig.paths.json, webpack.config.js, .gitlab-ci.yml
  frontend:build:ts: any of: src/*, src/**/*, src/**/**/*, package.json, tsconfig.json, tsconfig.paths.json, webpack.config.js, .gitlab-ci.yml
  frontend:test:jest: any of: src/*, src/**/*, src/**/**/*, package.json, tsconfig.json, tsconfig.paths.json, webpack.config.js, .gitlab-ci.yml
  frontend:test:lint: any of: src/*, src/**/*, src/**/**/*, package.json, tsconfig.json, tsconfig.paths.json, webpack.config.js, .gitlab-ci.yml
  frontend:deploy: any of: src/*, src/**/*, src/**/**/*, package.json, tsconfig.json, tsconfig.paths.json, webpack.config.js, .gitlab-ci.yml
